---
title: "HUNG3R | Create an Appetite for Good"
---

<div id="welcome" class="s-welcome">
  <div class="s-welcome__content">

    <div class="b-logo">
      <img class="image" src="<%= image_path 'logo-type.svg' %>" alt="<%= data.site.title %>">
    </div>

      <ul class="b-connect">
        <li><a href="#" target="_blank"><%= icon 'e49d' %></a>
        <li><a href="#" target="_blank"><%= icon 'e499' %></a>
        <li><a href="#" target="_blank"><%= icon 'e25c' %></a>
      </ul>

      <a href="#" class="btn-bright">Get The Inside Scoop</a>

    </div>

</div>
