---
title: "HUNG3R | Fashion for a Cause"
---

<div id="welcome" class="s-welcome">
  <div class="s-welcome__wrapper">
    <div class="s-welcome__content">

      <div class="b-logo">
        <img class="image" src="<%= image_path 'logo.svg' %>" alt="<%= data.site.title %>">
      </div>

        <ul class="b-connect">
          <li><a href="https://www.facebook.com/pages/HUNG3Rorg/529300320420138" target="_blank"><%= icon 'e49d' %></a>
          <li><a href="https://twitter.com/HUNG3Rtshirts" target="_blank"><%= icon 'e499' %></a>
          <li><a href="mailto:info@HUNG3R.com" target="_blank"><%= icon 'e25c' %></a>
        </ul>

        <a href="#" class="btn-bright">Sign Up to Get the Inside Scoop</a>

      </div>
    </div>
</div>
